 .sidebar-container {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 219px; /* Adjust this value as needed */
  margin: 0 auto;
  position: fixed;
  z-index: 9991;
      border-width: 9px;
    border-style: outset;
}

.sidebar-container {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.sidebar-container.visible {
  max-height: 90%; /* Adjust this value based on your needs */
  opacity: 1;
  border-radius: 33px;
}


.sidebar {
  flex: 0 0 200px; /* flex-grow | flex-shrink | flex-basis */
  max-width: 200px;
  flex-shrink: 0;
  /* background-color: #1d83ff; */
  background-image: linear-gradient(to right, #066091c2 , #1d83ffe3);
  display: flex;
  flex-direction: column;
  border-radius: 10px; /* Added rounded corners */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Added shadow for depth */
  overflow-y: auto; /* Added scrollability */
  height: 100vh; /* Adjust this value as needed */
}

.mainlist { line-height: 3 !important;
filter: drop-shadow(7px 5px 7px rgb(0 0 0 / 0.5));
}
.item-1 { margin-top: 30px;}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9169; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid white; /* Added a divider */
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-list-item {
  position: relative;
  margin-bottom: 4px;
  transition: background-color 0.3s ease; /* Added transition for smooth color change */
}
.sidebar-list-item a:hover {
 background-color: lightgrey;
 color: black !important;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: white;
  font-weight: 900;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

.sidebar-list-item a:hover { 
  color: white;
}

.account {
  position: relative;
  top: 300px;
  border-top: 1px solid white; /* Added a divider */
}

.account a {   
  color: black;
}

.sidebar-list-item svg {
  margin-right: 8px;
}

.sidebar-list-item:hover {
  background-color: var(--sidebar-active-link);
}

@media screen and (max-width: 1024px) {
  .sidebar {
    transform: translateX(-200px);
    display: none;/* Move the sidebar off-screen */
  }
  .account {
   top: 245px;
}
}


/* Add a CSS transition for smooth sliding animation */
.sidebar {
  transition: transform 0.3s ease-in-out;
}

/* Add a class to the body when the sidebar is revealed */
.sidebar-revealed .sidebar {
  transform: translateX(0); /* Bring the sidebar back on-screen */
}
  
   .sidebar-toggle {
  background: transparent;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  outline: none;
    position: fixed; /* Position it outside the sidebar */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  top: 0px; /* Adjust the top position as needed */
  left: 172px !important; /* Adjust the left position as needed */
  z-index: 9999; /* Ensure it's above other elements */
 
}  
     
.sublist {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0.5, 1);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.sublist.visible {
    max-height: 500px; /* Adjust this value based on your needs */
    opacity: 1;
}
